.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	height: 60px;
	padding-top: 8px;
	color: white;
}

.App-link {
	color: #61dafb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 8px;
}
